autopep8==2.0.4
flake8==6.1.0
jmespath==1.0.1
lxml==4.9.3
mccabe==0.7.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.1.0
python-docx==1.1.0
python-dotenv==1.0.0
ruff==0.1.8
typing_extensions==4.9.0
