autopep8==2.0.1
beautifulsoup4==4.11.1
cssselect==1.1.0
decorator==5.1.1
flake8==6.0.0
jmespath==1.0.1
jsonpath-ng==1.5.3
lxml==4.9.1
markdownify==0.11.6
mccabe==0.7.0
ply==3.11
psycopg2-binary==2.9.3
pycodestyle==2.10.0
pyflakes==3.0.1
python-docx==0.8.11
python-dotenv==0.20.0
sh==1.14.3
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
